In [ ]:
# conda env: ml

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

import os

In [1]:
# Import our input dataset
file_path = os.path.join('.','resources','data','charity_data.csv')
attrition_df = pd.read_csv(file_path)
attrition_df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [2]:
attrition_df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [4]:
# Generate our categorical variable lists
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [5]:
attrition_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [3]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [10]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

# Vamos a trabajar con etiquedas, necesito que Y sea de n dimensiones...

In [24]:
y = attrition_df[["Attrition_Yes","Attrition_No"]].values

In [25]:
# Split our preprocessed data into our features and target arrays
#y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [26]:
y_train

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       ...,
       [0., 1.],
       [0., 1.],
       [1., 0.]])

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
len(X_train[0])

55

In [29]:
y_test

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [30]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=2, activation="softmax"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 8)                 448
_________________________________________________________________
dense_7 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_8 (Dense)              (None, 2)                 12
=================================================================
Total params: 505
Trainable params: 505
Non-trainable params: 0
_________________________________________________________________

In [31]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [32]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 1s 1ms/step - loss: 0.8692 - accuracy: 0.3203
Epoch 2/100
35/35 [==============================] - 0s 2ms/step - loss: 0.7671 - accuracy: 0.4347
Epoch 3/100
35/35 [==============================] - 0s 1ms/step - loss: 0.7058 - accuracy: 0.5735
Epoch 4/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6632 - accuracy: 0.7051
Epoch 5/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6304 - accuracy: 0.7849
Epoch 6/100
35/35 [==============================] - 0s 1ms/step - loss: 0.6024 - accuracy: 0.8149
Epoch 7/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5776 - accuracy: 0.8312
Epoch 8/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5537 - accuracy: 0.8321
Epoch 9/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5304 - accuracy: 0.8312
Epoch 10/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5081 - accuracy: 0.8330
Epoch 11/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4868 - accuracy: 0.8367
Epoch 12/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4667 - accuracy: 0.8394
Epoch 13/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4471 - accuracy: 0.8430
Epoch 14/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4295 - accuracy: 0.8466
Epoch 15/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4128 - accuracy: 0.8503
Epoch 16/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3973 - accuracy: 0.8548
Epoch 17/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3824 - accuracy: 0.8584
Epoch 18/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3692 - accuracy: 0.8666
Epoch 19/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3567 - accuracy: 0.8693
Epoch 20/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3446 - accuracy: 0.8866
Epoch 21/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8893
Epoch 22/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3240 - accuracy: 0.8938
Epoch 23/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3150 - accuracy: 0.8956
Epoch 24/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3067 - accuracy: 0.8984
Epoch 25/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2999 - accuracy: 0.8956
Epoch 26/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2941 - accuracy: 0.8975
Epoch 27/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2886 - accuracy: 0.9011
Epoch 28/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2832 - accuracy: 0.9038
Epoch 29/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2797 - accuracy: 0.9047
Epoch 30/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2756 - accuracy: 0.9029
Epoch 31/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2725 - accuracy: 0.9056
Epoch 32/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2699 - accuracy: 0.9056
Epoch 33/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2659 - accuracy: 0.9083
Epoch 34/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2632 - accuracy: 0.9047
Epoch 35/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2617 - accuracy: 0.9056
Epoch 36/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2592 - accuracy: 0.9102
Epoch 37/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2564 - accuracy: 0.9074
Epoch 38/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2544 - accuracy: 0.9074
Epoch 39/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2522 - accuracy: 0.9102
Epoch 40/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2502 - accuracy: 0.9111
Epoch 41/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2480 - accuracy: 0.9111
Epoch 42/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2465 - accuracy: 0.9129
Epoch 43/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2452 - accuracy: 0.9102
Epoch 44/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2432 - accuracy: 0.9102
Epoch 45/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2417 - accuracy: 0.9120
Epoch 46/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2399 - accuracy: 0.9129
Epoch 47/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2383 - accuracy: 0.9129
Epoch 48/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2365 - accuracy: 0.9129
Epoch 49/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2346 - accuracy: 0.9147
Epoch 50/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2333 - accuracy: 0.9156
Epoch 51/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2312 - accuracy: 0.9192
Epoch 52/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2298 - accuracy: 0.9156
Epoch 53/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2294 - accuracy: 0.9147
Epoch 54/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2267 - accuracy: 0.9183
Epoch 55/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2247 - accuracy: 0.9183
Epoch 56/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2237 - accuracy: 0.9201
Epoch 57/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2215 - accuracy: 0.9211
Epoch 58/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2206 - accuracy: 0.9201
Epoch 59/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2186 - accuracy: 0.9201
Epoch 60/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2173 - accuracy: 0.9211
Epoch 61/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2157 - accuracy: 0.9211
Epoch 62/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2147 - accuracy: 0.9229
Epoch 63/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2130 - accuracy: 0.9220
Epoch 64/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2115 - accuracy: 0.9238
Epoch 65/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2101 - accuracy: 0.9256
Epoch 66/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2087 - accuracy: 0.9283
Epoch 67/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2064 - accuracy: 0.9283
Epoch 68/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2062 - accuracy: 0.9283
Epoch 69/100
35/35 [==============================] - 0s 2ms/step - loss: 0.2044 - accuracy: 0.9292
Epoch 70/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2021 - accuracy: 0.9292
Epoch 71/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2007 - accuracy: 0.9274
Epoch 72/100
35/35 [==============================] - 0s 1ms/step - loss: 0.2004 - accuracy: 0.9283
Epoch 73/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1981 - accuracy: 0.9301
Epoch 74/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1982 - accuracy: 0.9256
Epoch 75/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1960 - accuracy: 0.9292
Epoch 76/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1937 - accuracy: 0.9310
Epoch 77/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1925 - accuracy: 0.9319
Epoch 78/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1906 - accuracy: 0.9319
Epoch 79/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1897 - accuracy: 0.9319
Epoch 80/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1878 - accuracy: 0.9338
Epoch 81/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1865 - accuracy: 0.9319
Epoch 82/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1844 - accuracy: 0.9328
Epoch 83/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1834 - accuracy: 0.9338
Epoch 84/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1819 - accuracy: 0.9347
Epoch 85/100
35/35 [==============================] - 0s 958us/step - loss: 0.1804 - accuracy: 0.9356
Epoch 86/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1800 - accuracy: 0.9383
Epoch 87/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1779 - accuracy: 0.9374
Epoch 88/100
35/35 [==============================] - 0s 988us/step - loss: 0.1770 - accuracy: 0.9338
Epoch 89/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1759 - accuracy: 0.9383
Epoch 90/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1746 - accuracy: 0.9383
Epoch 91/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1732 - accuracy: 0.9392
Epoch 92/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1715 - accuracy: 0.9374
Epoch 93/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1715 - accuracy: 0.9392
Epoch 94/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1696 - accuracy: 0.9392
Epoch 95/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1680 - accuracy: 0.9401
Epoch 96/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1676 - accuracy: 0.9401
Epoch 97/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1663 - accuracy: 0.9401
Epoch 98/100
35/35 [==============================] - 0s 967us/step - loss: 0.1658 - accuracy: 0.9383
Epoch 99/100
35/35 [==============================] - 0s 1ms/step - loss: 0.1637 - accuracy: 0.9428
Epoch 100/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1626 - accuracy: 0.9446

In [33]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.4157 - accuracy: 0.8614
Loss: 0.41569602489471436, Accuracy: 0.8614130616188049

## Construimos el data frame para comparar

In [39]:
resultado = (
    pd.DataFrame(nn.predict(X_test_scaled))
    .rename(columns={0:"prob_No",1:"prob_Yes"})
)

In [47]:
resultado["predict"] = ["Yes" if x else "No" for x in resultado["prob_Yes"]>resultado["prob_No"]]

In [57]:
resultado["observed"] = ["Yes" if x[1]==1 else "No" for x in y_test]

#### Hacemos el crosstab para crear una matriz de confusión simple

In [69]:
pd.crosstab(resultado["predict"], resultado["observed"])

observed  No  Yes
predict
No        19   23
Yes       28  298

In [70]:
19+298 # este es el total de predicciones correctas

317

In [71]:
resultado.shape # total de observaciones

(368, 5)

In [72]:
317/368*100 # nuestro accuracy coincide con lo reportado durante el entrenamiento, i.e, estamos bien

86.1413043478261

#### NOTAR que tenemos una muestra imbalanceada....87% de nuestra muestra es "Yes"

In [65]:
resultado["observed"].value_counts()/368*100

Yes    87.228261
No     12.771739
Name: observed, dtype: float64

#### Aunque parezca chistoso, vamos a comprar nuestra red neuronal contra un modelo que solo le pone "yes" a todo

In [73]:
resultado["super_machine_learning"]= "Yes"

In [74]:
pd.crosstab(resultado["super_machine_learning"], resultado["observed"])

observed                No  Yes
super_machine_learning
Yes                     47  321

In [75]:
321/368*100

87.22826086956522

# Por esto es importante revisar la distribución de la muestra en la variable objetivo